.parent {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 2 / 2 / 6 / 6; }
.div2 { grid-area: 1 / 1 / 2 / 6; }
.div3 { grid-area: 2 / 1 / 6 / 2; } 


html {
  max-width: 70ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
  background: #111;
  color: #bbb;
}

h1,h2,h3,h4,h5,h6 {
  margin: 3em 0 1em;
}

p,ul,ol {
  margin-bottom: 2em;
}

a:link {
    color: #9bf;
}

a:visited {
color: #a9f;
}

a:focus, a:hover {
color: #9cf;
}

a:active {
color: #f99;
}
